<div class="container">
    <p>Tablica węzłów i czasów RTT</p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Ip</th>
            <th>T1</th>
            <th>T2</th>
            <th>T3</th>
            <th>T avg</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rt in routeTable track by $index">
            <td>{{rt.ip}}</td>
            <td>{{rt.t1}}</td>
            <td>{{rt.t2}}</td>
            <td>{{rt.t3}}</td>
            <td>{{rt.avg}}</td>
        </tr>
        </tbody>
    </table>
</div>
