<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem magazyniera</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <!-- endinject -->

    <!-- inject:css -->
    <link rel="stylesheet" href="css/main.css">
    <!-- endinject -->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.1/d3.min.js"></script>-->

    <link rel="stylesheet" href="http://openlayers.org/en/v3.16.0/css/ol.css" type="text/css">
    <style>
        body {
            margin: 10px;
        }

        .node {
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .link {
            stroke: #999;
            stroke-opacity: .6;
        }

        .map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script src="http://openlayers.org/en/v3.16.0/build/ol-debug.js" type="text/javascript"></script>

</head>
<body ng-app="pd">
<div class="row" ng-controller="TracerouteCtrl">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Adres: </label>
                <input type="text" ng-model="destination" class="form-control" id="exampleInputName2" placeholder="IP lub URL">
            </div>
            <button type="submit" class="btn btn-primary" ng-click="traceroute()">Traceroute</button>
        </form>
        <br>
        <div id="map" class="map"></div>
    </div>
    <traceroute-table></traceroute-table>
    <p>{{geoJson}}</p>
</div>
<!-- bower:js -->
<script src="../bower_components/angular/angular.js"></script>
<script src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/d3/d3.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endinject -->
<script src="app.js"></script>
<!-- inject:js -->
<script src="components/traceroute/tracerouteCtrl.js"></script>
<script src="components/traceroute/tracerouteDir.js"></script>
<script src="js/map.js"></script>
<!-- endinject -->
</body>
</html>